# ─── Supabase ────────────────────────────────────────────────
# Récupérer ces valeurs dans : Supabase Dashboard > Settings > API

NEXT_PUBLIC_SUPABASE_URL=https://pqncoeajnuqyjjlnlfcn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_4W0YUZHUFvASPDKn9L-RzQ_ewKvwBUI
# ─── (optionnel) URL de base pour les redirections OAuth ─────
NEXT_PUBLIC_SITE_URL=http://localhost:3000

GROQ_API_KEY= gsk_xxxxxxxxxxxxxxxxxxx 
