VITE_SUPABASE_URL=https://adfotnxnizsdineonjjj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_AZfMRAlk1zapSrl8ZeqrmQ_N_UzueXa
VITE_VAPID_PUBLIC_KEY=BBZn2kdSmbf43ha6Iavbz4lOHLLI1YOMysj4Wonf8dNkgQV7euMjs0Mr2SxaCDVz6e9QY6aAK5suW8XMw7fSUS4